# List

* Stores multiple values in one variable.
* Created using square brackets.
* Items in list can be changed, are in order which will not change and allows duplicate items.

In [3]:
#How to create a list?
list1 = ["Pineapple","Mango","Grapes","Apple","Watermelon"]
print(list1)

['Pineapple', 'Mango', 'Grapes', 'Apple', 'Watermelon']

In [4]:
#Allow duplicates
list2 = ["Apple","Mango","Grapes","Apple","Grapes"]
print(list2)

['Apple', 'Mango', 'Grapes', 'Apple', 'Grapes']

In [6]:
#How to check the type of data?
list1 = ["Pineapple","Mango","Grapes","Apple","Watermelon"]
print(type(list1))

<class 'list'>

In [8]:
#How to check the length of list?
list1 = ["Pineapple","Mango","Grapes","Apple","Watermelon"]
print(len(list1))

5

# Access List Items

In [10]:
#How to access items from the list?
list1 = ["Pineapple","Mango","Grapes","Apple","Watermelon"]
print(list1[2])

Grapes

In [11]:
#How to access items using negative indexing?
list1 = ["Pineapple","Mango","Grapes","Apple","Watermelon"]
print(list1[-2])

Apple

In [13]:
#How to get a new list with specified items by specifying range of indexes?
list1 = ["Pineapple","Mango","Grapes","Apple","Watermelon"]
print(list1[1:4])
#The search will start at index 1 (included) and end at index 4 (not included).

['Mango', 'Grapes', 'Apple']

In [18]:
list1 = ["Pineapple","Mango","Grapes","Apple","Watermelon"]
print(list1[:4])
#This will return the items from index 0 to index 4.

['Pineapple', 'Mango', 'Grapes', 'Apple']

In [19]:
list1 = ["Pineapple","Mango","Grapes","Apple","Watermelon"]
print(list1[2:])
#This will return the items from index 2 to end.

['Grapes', 'Apple', 'Watermelon']

In [20]:
list1 = ["Pineapple","Mango","Grapes","Apple","Watermelon"]
print(list1[-4:-1])
#This will return the items from index -4 (included) to -1 (excluded).

['Mango', 'Grapes', 'Apple']

In [25]:
#check items in the list if exist
list1 = ["Pineapple","Mango","Grapes","Apple","Watermelon"]
if "Grapes" in list1:
	print("yes")

yes

# Change Item Value

In [26]:
list1 = ["Pineapple","Mango","Grapes","Apple","Watermelon"]
list1[1] = "Cherry"
print(list1)

['Pineapple', 'Cherry', 'Grapes', 'Apple', 'Watermelon']

# Insert Items

In [29]:
list1 = ["Pineapple","Mango","Grapes","Apple","Watermelon"]
list1.insert(3,"Cherry")
print(list1)

['Pineapple', 'Mango', 'Grapes', 'Cherry', 'Apple', 'Watermelon']

# Add Items

In [30]:
# Using append() method
list1 = ["Pineapple","Mango","Grapes","Apple","Watermelon"]
list1.append("Orange")
print(list1)

['Pineapple', 'Mango', 'Grapes', 'Apple', 'Watermelon', 'Orange']

In [33]:
list1 = ["Pineapple","Mango","Grapes","Apple","Watermelon"]
list2 = ["Papaya","Banana","Kiwi","Orange"]
list1.extend(list2)
print(list1)

['Pineapple', 'Mango', 'Grapes', 'Apple', 'Watermelon', 'Papaya', 'Banana', 'Kiwi', 'Orange']

# Remove Items

In [34]:
# using remove() method
list1 = ["Pineapple","Mango","Grapes","Apple","Watermelon"]
list1.remove("Grapes")
print(list1)

['Pineapple', 'Mango', 'Apple', 'Watermelon']

In [35]:
# using pop() method
list1 = ["Pineapple","Mango","Grapes","Apple","Watermelon"]
list1.pop(1)
print(list1)

['Pineapple', 'Grapes', 'Apple', 'Watermelon']

In [38]:
# using del keyword
list1 = ["Pineapple","Mango","Grapes","Apple","Watermelon"]
del list1[3]
print(list1)

['Pineapple', 'Mango', 'Grapes', 'Watermelon']

# Tuple

* Store multiple items in a single variable.
* It is ordered, allow duplicates and unchangeable.
* Written with round brackets.

In [2]:
tuple1 = ("Pineapple","Mango","Grapes","Apple","Watermelon")
print(tuple1)

('Pineapple', 'Mango', 'Grapes', 'Apple', 'Watermelon')

In [3]:
tuple1 = ("Pineapple","Mango","Grapes","Apple","Watermelon")
print(len(tuple1))

5

In [4]:
tuple1 = ("Pineapple","Mango","Grapes","Apple","Watermelon")
print(type(tuple1))

<class 'tuple'>

# Access Tuples

In [6]:
tuple1 = ("Pineapple","Mango","Grapes","Apple","Watermelon")
print(tuple1[4])

Watermelon

In [7]:
tuple1 = ("Pineapple","Mango","Grapes","Apple","Watermelon")
print(tuple1[-3])

Grapes

In [8]:
tuple1 = ("Pineapple","Mango","Grapes","Apple","Watermelon")
print(tuple1[3:5])

('Apple', 'Watermelon')

In [9]:
tuple1 = ("Pineapple","Mango","Grapes","Apple","Watermelon")
print(tuple1[:3])

('Pineapple', 'Mango', 'Grapes')

# Update Tuple

In [10]:
tuple1 = ("Pineapple","Mango","Grapes","Apple","Watermelon")
a = list(tuple1)
a[3] = "Cherry"
tuple1 = tuple(a)
print(tuple1)

('Pineapple', 'Mango', 'Grapes', 'Cherry', 'Watermelon')

In [12]:
tuple1 = ("Pineapple","Mango","Grapes","Apple","Watermelon")
a = list(tuple1)
a.append("Cherry")
tuple1 = tuple(a)
print(tuple1)

('Pineapple', 'Mango', 'Grapes', 'Apple', 'Watermelon', 'Cherry')

# Remove Items from tuple

In [13]:
tuple1 = ("Pineapple","Mango","Grapes","Apple","Watermelon")
a = list(tuple1)
a.remove("Grapes")
tuple1 = tuple(a)
print(tuple1)

('Pineapple', 'Mango', 'Apple', 'Watermelon')

# Set

* Store multiple items in a single variable.
* It is unordered, unchangeable, doesn't allow duplicates and is unindexed.
* Written with curly brackets.

In [15]:
set1 = {"Pineapple","Mango","Grapes","Apple","Watermelon"}
print(set1)

{'Mango', 'Watermelon', 'Pineapple', 'Grapes', 'Apple'}

In [16]:
set1 = {"Pineapple","Mango","Grapes","Apple","Watermelon"}
print(len(set1))

5

In [17]:
set1 = {"Pineapple","Mango","Grapes","Apple","Watermelon"}
print(type(set1))

<class 'set'>

In [18]:
set1 = {"Pineapple","Mango","Grapes","Apple","Watermelon"}
for x in set1:
    print(x)

Mango
Watermelon
Pineapple
Grapes
Apple

In [19]:
set1 = {"Pineapple","Mango","Grapes","Apple","Watermelon"}
print("Mango" in set1)

True

# Update Set

In [20]:
set1 = {"Pineapple","Mango","Grapes","Apple","Watermelon"}
set1.add("Cherry")
print(set1)

{'Mango', 'Cherry', 'Watermelon', 'Pineapple', 'Grapes', 'Apple'}

In [21]:
set1 = {"Pineapple","Mango","Grapes","Apple","Watermelon"}
set2 = {"Orange","Cherry","Papaya"}
set1.update(set2)
print(set1)

{'Mango', 'Orange', 'Papaya', 'Cherry', 'Watermelon', 'Pineapple', 'Grapes', 'Apple'}

# Remove items from the Set

In [22]:
set1 = {"Pineapple","Mango","Grapes","Apple","Watermelon"}
set1.remove("Mango")
print(set1)

{'Watermelon', 'Pineapple', 'Grapes', 'Apple'}

In [23]:
set1 = {"Pineapple","Mango","Grapes","Apple","Watermelon"}
set1.discard("Mango")
print(set1)

{'Watermelon', 'Pineapple', 'Grapes', 'Apple'}

In [25]:
set1 = {"Pineapple","Mango","Grapes","Apple","Watermelon"}
set1.pop()
print(set1)

{'Watermelon', 'Pineapple', 'Grapes', 'Apple'}

In [26]:
set1 = {"Pineapple","Mango","Grapes","Apple","Watermelon"}
set1.clear()
print(set1)

set()