In [1]:
#Create a user defined function to accept the demand(as a dictionary) and capacity of the production 
#and returns a dataframe which shows the data with Extra quantity and remaining capacity
#The function should also return the adjusted Demand

In [1]:
dict1={'jan': 850, 'feb': 1100, 'mar': 700, 'apr': 900, 'may': 1500, 'jun': 500, 'jul': 550, 'aug': 2000, 'sep': 110, 'oct': 100, 'nov': 85, 'dec': 1150}
dict1

{'jan': 850,
 'feb': 1100,
 'mar': 700,
 'apr': 900,
 'may': 1500,
 'jun': 500,
 'jul': 550,
 'aug': 2000,
 'sep': 110,
 'oct': 100,
 'nov': 85,
 'dec': 1150}

In [2]:
Month=[]
Cap=[]
Dem=[]
Extra_Qty=[]
Rem_Cap=[]
adj=[0]*12

In [3]:
def Task1(capacity,demand):
    d=demand
    key=list(d.keys())
    valu=list(d.values())
    cap=capacity
    
    for i in range(len(key)):
        Month.append(key[i])
        Cap.append(cap)
        Dem.append(valu[i])
        
        if valu[i]>cap :
            Extra_Qty.append(valu[i]-cap)
            Rem_Cap.append(0)
            
        elif valu[i]<cap :
            Extra_Qty.append(0)
            Rem_Cap.append(cap-valu[i])
            
        else :
            Extra_Qty.append(0)
            Rem_Cap.append(0)
            
          
            
    import pandas as pd
    Table = {'Month':Month,'Dem':Dem,'Cap':Cap,'Extra_Qty':Extra_Qty,'Rem_Cap':Rem_Cap}
    df=pd.DataFrame(Table,index=range(1,13))
    return df

In [4]:
Task1(1000,dict1)

   Month   Dem   Cap  Extra_Qty  Rem_Cap
1    jan   850  1000          0      150
2    feb  1100  1000        100        0
3    mar   700  1000          0      300
4    apr   900  1000          0      100
5    may  1500  1000        500        0
6    jun   500  1000          0      500
7    jul   550  1000          0      450
8    aug  2000  1000       1000        0
9    sep   110  1000          0      890
10   oct   100  1000          0      900
11   nov    85  1000          0      915
12   dec  1150  1000        150        0

In [10]:
#code for adjusted Quantity=Extra quantity -  sum of Remaining capacity of previous 2 months
def Task2(capacity): 
    cap=capacity
    a=0
    for x in range(0,12):
        if x<2 or x>10 :
            adj[x]= Dem[x]
        if(Extra_Qty[x]>0):
            adj[x]=cap
            if(Rem_Cap[x-2]>0):
                if(Extra_Qty[x] > Rem_Cap[x-2]) :
                    a=Extra_Qty[x]-Rem_Cap[x-2]
                    adj[x-2] = Rem_Cap[x-2]+Dem[x-2]
                else :
                    a=Extra_Qty[x]-Rem_Cap[x-2]
                    adj[x-2]= Dem[x-2] +Extra_Qty[x]
               
                if(a>=0):
                    if(a > Rem_Cap[x-1]) :
                        adj[x-1] = Rem_Cap[x-1]+Dem[x-1]
                        a= a - Rem_Cap[x-1]
                        adj[x] = Cap[x] + a
                    else :
                        adj[x-1]= Dem[x-1] + a
                   
                   
            else:
                if Rem_Cap[x-1]>0:
                    if(Extra_Qty[x] > Rem_Cap[x-1]) :
                        adj[x-1] = Rem_Cap[x-1]+Dem[x-1]
                    else :
                        adj[x-1]= Dem[x-1] + Extra_Qty[x]
                else:
                    adj[x]=Dem[x]
        else:
            adj[x]=Dem[x]          
    
    for i in range(0,12):
        if adj[i]>Cap[i] :
            Extra_Qty[i]=(adj[i]-Cap[i])
            Rem_Cap[i]=0
           
        elif adj[i]<Cap[i] :
            Extra_Qty[i]=0
            Rem_Cap[i]=(Cap[i]-adj[i])
           
        else :
            Extra_Qty[i]=0
            Rem_Cap[i]=0
           
    import pandas as pd
    Table = {'Month':Month,'Dem':Dem,'Cap':Cap,'Adj_Dem':adj,'Extra_Qty':Extra_Qty,'Rem_Cap':Rem_Cap}
    df=pd.DataFrame(Table,index=range(1,13))
    return df

In [11]:
Task2(1000)

   Month   Dem   Cap  Adj_Dem  Extra_Qty  Rem_Cap
1    jan   850  1000      950          0       50
2    feb  1100  1000     1000          0        0
3    mar   700  1000     1000          0        0
4    apr   900  1000     1000          0        0
5    may  1500  1000     1100        100        0
6    jun   500  1000     1000          0        0
7    jul   550  1000     1000          0        0
8    aug  2000  1000     1050         50        0
9    sep   110  1000      110          0      890
10   oct   100  1000      250          0      750
11   nov    85  1000       85          0      915
12   dec  1150  1000     1000          0        0